In [15]:
spark.stop()

In [1]:
import os
import glob
import pyspark
from pyspark.sql.functions import col

In [2]:
import pandas as pd

In [3]:
# Display all columns
pd.set_option('display.max_columns', None)

In [4]:
# Initialize SparkSession
spark = pyspark.sql.SparkSession.builder \
    .appName("read_parquet") \
    .master("local[*]") \
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/10 02:13:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
os.getcwd()

'/app/notebooks'

In [6]:
silver_dir = '/app/datamart/silver/'

In [7]:
spark.read.parquet(f"{silver_dir}/features_financials").printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Annual_Income: float (nullable = true)
 |-- Monthly_Inhand_Salary: float (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: float (nullable = true)
 |-- Num_of_Loan: integer (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_of_Delayed_Payment: integer (nullable = true)
 |-- Changed_Credit_Limit: float (nullable = true)
 |-- Num_Credit_Inquiries: integer (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Outstanding_Debt: float (nullable = true)
 |-- Credit_Utilization_Ratio: float (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: float (nullable = true)
 |-- Amount_invested_monthly: float (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: float (nullable = true)
 |-- snapshot_date: date (nullable = true)
 |-- Credit_History_Age: float (nullable = true)

In [8]:
df_financials = spark.read.parquet(f"{silver_dir}/features_financials")
df_financials.show(5)

+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+-------------+------------------+
|Customer_ID|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|snapshot_date|Credit_History_Age|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+-------------+------------------+
| CUS_0x103e|      98690.8|             8262.233|                4|              6|          9.0|          0|        Student Loan|                  6|                    17|               10.76|                   4|      Good|          706.96|               26.860664|                   No|          55.004406|               913.4813|Low_spent_Small_v...|      147.73761|   2024-12-01|             323.0|
| CUS_0x1195|     30429.91|             2808.826|                4|              6|         16.0|          2|Auto Loan, and Au...|                 22|                    17|                1.67|                1549|  Standard|          362.48|                33.34905|                   No|          29.914076|              82.878784|Low_spent_Large_v...|      438.08972|   2024-12-01|             347.0|
| CUS_0x1197|     92300.01|            7437.6675|                2|              4|         11.0|          3|Credit-Builder Lo...|                 27|                     9|               18.96|                   2|         _|             0.0|               26.989786|                  Yes|            49236.0|              220.86215|Low_spent_Large_v...|       581.1568|   2024-12-01|             227.0|
| CUS_0x11e2|     44986.55|            3689.8792|                6|              5|         11.0|          1| Credit-Builder Loan|                  0|                     4|               10.26|                   3|      Good|          753.21|               25.586287|                   No|          23.267136|              43.203632|High_spent_Large_...|      542.51715|   2024-12-01|             240.0|
| CUS_0x11ec|     14867.69|            1005.9742|                9|              9|         18.0|          6|Debt Consolidatio...|                 39|                    15|                18.5|                   8|  Standard|         2344.06|               24.344387|                  Yes|          55.459602|              100.14575|Low_spent_Medium_...|      224.99207|   2024-12-01|             206.0|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+-------------+------------------+
only showing top 5 rows

In [24]:
fin_pdf = df_financials.toPandas()
fin_pdf.head(10)

,Customer_ID,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,snapshot_date,Credit_History_Age_Year,Credit_History_Age_Month,DTI,asof_date,year,month
0,CUS_0x104e,19180.870,1688.405833,8,4,18,4.0,"Debt Consolidation Loan, Auto Loan, Payday Loa...",5,17.0,...,107.983227,High_spent_Small_value_payments,263.493145,2023-06-01,0.0,0,0.058786,2023-06-01,2023,6
1,CUS_0x10ee,12660.160,909.013333,5,7,15,0.0,None,8,14.0,...,10000.000000,Unknown,338.254937,2023-06-01,0.0,0,0.036020,2023-06-01,2023,6
2,CUS_0x1154,7645.095,632.091250,9,9,19,5.0,"Credit-Builder Loan, Credit-Builder Loan, Cred...",42,18.0,...,48.623913,Low_spent_Small_value_payments,287.097361,2023-06-01,0.0,0,0.375382,2023-06-01,2023,6
3,CUS_0x119e,63601.480,5400.123333,3,7,15,6.0,"Auto Loan, Mortgage Loan, Student Loan, Home E...",26,13.0,...,121.517042,High_spent_Large_value_payments,473.803656,2023-06-01,0.0,0,0.018740,2023-06-01,2023,6
4,CUS_0x128e,20232.110,1918.009167,5,3,6,5.0,"Mortgage Loan, Payday Loan, Auto Loan, Not Spe...",9,20.0,...,126.787969,Low_spent_Large_value_payments,286.355182,2023-06-01,0.0,0,0.054596,2023-06-01,2023,6
5,CUS_0x1319,138613.480,11706.123333,7,5,10,3.0,"Personal Loan, Personal Loan, and Personal Loan",19,20.0,...,409.168304,High_spent_Small_value_payments,839.267790,2023-06-01,0.0,0,0.005546,2023-06-01,2023,6
6,CUS_0x1329,160573.560,13293.130000,1,2,8,1.0,Mortgage Loan,12,3.0,...,386.784106,High_spent_Medium_value_payments,1071.349956,2023-06-01,0.0,0,0.003433,2023-06-01,2023,6
7,CUS_0x145c,41588.740,3201.728333,5,3,7,2.0,"Debt Consolidation Loan, and Personal Loan",14,6.0,...,48.676019,High_spent_Medium_value_payments,459.553949,2023-06-01,0.0,0,0.015154,2023-06-01,2023,6
8,CUS_0x14ca,122028.480,9899.040000,2,7,8,3.0,"Home Equity Loan, Debt Consolidation Loan, and...",28,11.0,...,79.772450,High_spent_Large_value_payments,859.613013,2023-06-01,0.0,0,0.000435,2023-06-01,2023,6
9,CUS_0x1585,18426.025,1513.502083,6,6,14,6.0,"Not Specified, Home Equity Loan, Payday Loan, ...",13,19.0,...,55.723115,Unknown,297.198807,2023-06-01,0.0,0,0.019760,2023-06-01,2023,6

In [29]:
fin_pdf[fin_pdf['asof_date'] == fin_pdf['snapshot_date']].head()

,Customer_ID,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,snapshot_date,Credit_History_Age_Year,Credit_History_Age_Month,DTI,asof_date,year,month
0,CUS_0x104e,19180.870,1688.405833,8,4,18,4.0,"Debt Consolidation Loan, Auto Loan, Payday Loa...",5,17.0,9.32,6.0,Standard,1127.57,29.465338,25 Years and 2 Months,NaN,57.364211,107.983227,High_spent_Small_value_payments,263.493145,2023-06-01,0.0,0,0.058786,2023-06-01,2023,6
1,CUS_0x10ee,12660.160,909.013333,5,7,15,0.0,None,8,14.0,15.10,2.0,Standard,456.02,33.462631,25 Years and 4 Months,NaN,0.000000,10000.000000,Unknown,338.254937,2023-06-01,0.0,0,0.036020,2023-06-01,2023,6
2,CUS_0x1154,7645.095,632.091250,9,9,19,5.0,"Credit-Builder Loan, Credit-Builder Loan, Cred...",42,18.0,21.14,10.0,Bad,2869.83,24.639346,12 Years and 2 Months,NaN,17.487851,48.623913,Low_spent_Small_value_payments,287.097361,2023-06-01,0.0,0,0.375382,2023-06-01,2023,6
3,CUS_0x119e,63601.480,5400.123333,3,7,15,6.0,"Auto Loan, Mortgage Loan, Student Loan, Home E...",26,13.0,19.49,6.0,Standard,1191.91,25.704062,19 Years and 9 Months,NaN,184.691635,121.517042,High_spent_Large_value_payments,473.803656,2023-06-01,0.0,0,0.018740,2023-06-01,2023,6
4,CUS_0x128e,20232.110,1918.009167,5,3,6,5.0,"Mortgage Loan, Payday Loan, Auto Loan, Not Spe...",9,20.0,15.86,7.0,Standard,1104.60,29.797032,9 Years and 4 Months,NaN,48.657766,126.787969,Low_spent_Large_value_payments,286.355182,2023-06-01,0.0,0,0.054596,2023-06-01,2023,6

In [19]:
df_financials = read_date_range('features_financials', '2023-01-01', '2023-06-01')
if df_financials:
    df_financials.show(5)

Loaded all partitions for features_financials: 11974 rows
Date range: 2023-01-01 to 2024-12-01
Filtered to 2023-01-01 - 2023-06-01: 3085 rows
+-----------+---------------------+-----------------+---------------+-------------+--------------------+-------------------+--------------------+----------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+-------------+-------------+-----------+----------------------+--------------------+----------------+-----------------------+-----------------------+------------------------+-----------+-------------------+-------------------------+-----------------------+---------------------+-------------------+----------------------+----------------------------+---------------+----------+
|Customer_ID|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|        Type_of_Loan|Delay_from_due_date|Num_Credit_Inquiries|Credit_Mix|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|   Payment_Behaviour|   Monthly_Balance|snapshot_date|Annual_Income|Num_of_Loan|Num_of_Delayed_Payment|Changed_Credit_Limit|Outstanding_Debt|Amount_invested_monthly|Credit_History_Age_Year|Credit_History_Age_Month|        DTI|loan_type__AutoLoan|loan_type__Credit-Builder|loan_type__PersonalLoan|loan_type__HomeEquity|loan_type__Mortgage|loan_type__StudentLoan|loan_type__DebtConsolidation|loan_type_count| asof_date|
+-----------+---------------------+-----------------+---------------+-------------+--------------------+-------------------+--------------------+----------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+-------------+-------------+-----------+----------------------+--------------------+----------------+-----------------------+-----------------------+------------------------+-----------+-------------------+-------------------------+-----------------------+---------------------+-------------------+----------------------+----------------------------+---------------+----------+
| CUS_0x1037|           1086.42375|                5|              4|            2|Credit-Builder Lo...|                 13|                 3.0|      Good|       40.69769934536393|19 Years and 9 Mo...|                   No| 33.797020629881075|Low_spent_Small_v...| 284.3801148556844|   2023-01-01|    15989.085|          4|                    15|                 0.5|          665.82|               80.46524|                  19.75|                     237| 0.04164216|                  1|                        0|                      0|                    0|                  0|                     0|                           0|              1|2023-01-01|
| CUS_0x1069|             4799.445|                4|              6|           10|Personal Loan, Au...|                  9|                 5.0|  Standard|       25.23314363376225|30 Years and 8 Mo...|                  Yes|  139.8850133927109|High_spent_Small_...| 434.8488737169301|   2023-01-01|     58637.34|        119|                    17|               12.56|           208.8|              165.21062|     30.666666666666668|                     368|0.003560871|                  1|                        0|                      1|                    0|                  0|                     0|                           0|              2|2023-01-01|
| CUS_0x114a|             1230.455|                0|              7|            2|Student Loan, and...|                 14|                 0.0|      Good|       27.52511297681479|15 Years and 9 Mo...|                   No| 20.301653868439384|Low_spent_Small_v...|327.96536605522886|   2023-01-01|     15305.46|          2|                     2|               15.95|          642.42|               64.77848|                  15.75|                     189|0.041973256|                  0|                        0|                      0|                    0|                  0|                     1|                           0|              1|2023-01-01|
| CUS_0x1184|   1396.6229166666665|                3|              5|           11|Student Loan, Mor...|                 10|                 4.0|      Good|       26.68978981173729|32 Years and 8 Mo...|                   No|  42.60688196261637|             Unknown| 313.5944656613208|   2023-01-01|    19867.475|          3|                     9|                6.74|          707.29|              23.460943|     32.666666666666664|                     392|0.035600398|                  0|                        0|                      0|                    0|                  0|                     1|                           0|              1|2023-01-01|
| CUS_0x1297|             4881.505|                9|              8|           30|Payday Loan, Pers...|                 61|                11.0|       Bad|       25.74214265617326|13 Years and 8 Mo...|                  Yes|  296.2841357039575|High_spent_Medium...|388.04518664772837|   2023-01-01|     57738.06|          9|                    24|               14.27|         3916.47|               53.82118|     13.666666666666666|                     164| 0.06783169|                  0|                        0|                      1|                    0|                  0|                     1|                           0|              2|2023-01-01|
+-----------+---------------------+-----------------+---------------+-------------+--------------------+-------------------+--------------------+----------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+-------------+-------------+-----------+----------------------+--------------------+----------------+-----------------------+-----------------------+------------------------+-----------+-------------------+-------------------------+-----------------------+---------------------+-------------------+----------------------+----------------------------+---------------+----------+
only showing top 5 rows

In [22]:
df_financials.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Monthly_Inhand_Salary: double (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: integer (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_Credit_Inquiries: double (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Credit_Utilization_Ratio: double (nullable = true)
 |-- Credit_History_Age: string (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: double (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: double (nullable = true)
 |-- snapshot_date: date (nullable = true)
 |-- Annual_Income: float (nullable = true)
 |-- Num_of_Loan: integer (nullable = true)
 |-- Num_of_Delayed_Payment: integer (nullable = true)
 |-- Changed_Credit_Limit: float (nullable = true)
 |-- Outstanding_Debt: float (nullable = true)
 |-- Amount_invested_monthly: float (nullable = true)
 |-- Credit_History_Age_Year: double (nullable = true)
 |-- Credit_History_Age_Month: integer (nullable = true)

In [13]:
def _load_table(spark, table_name, snapshot_date=None):
    """
    Load a silver table as Spark DataFrame.

    Args:
        spark: SparkSession
        table_name (str): name of silver table (e.g. "features_financials")
        snapshot_date (str, optional): e.g. "2023-01-01".
                                       If None, loads and unions all snapshots.

    Returns:
        Spark DataFrame
    """
    import os

    silver_table_dir = os.path.join("/app/datamart/silver", table_name)

    if snapshot_date:
        path = os.path.join(
            silver_table_dir,
            f"silver_{table_name}_{snapshot_date.replace('-', '_')}.parquet"
        )
        print(f"ðŸ“‚ Loading snapshot: {path}")
        return spark.read.parquet(path)

    else:
        # list all parquet files for this table
        all_paths = sorted(
            [
                os.path.join(silver_table_dir, d)
                for d in os.listdir(silver_table_dir)
                if d.startswith(f"silver_{table_name}_") and d.endswith(".parquet")
            ]
        )

        print(f"ðŸ“¦ Loading {len(all_paths)} snapshots from {silver_table_dir}")

        if not all_paths:
            raise FileNotFoundError(f"No parquet files found for table {table_name} at {silver_table_dir}")

        # read and union all snapshots
        dfs = [spark.read.parquet(p) for p in all_paths]
        df_all = dfs[0]
        for df_next in dfs[1:]:
            df_all = df_all.unionByName(df_next, allowMissingColumns=True)
        return df_all

In [14]:
fin = _load_table(spark, "features_financials")
fin.show()

ðŸ“¦ Loading 24 snapshots from /app/datamart/silver/features_financials
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+-------------+------------------+
|Customer_ID|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|snapshot_date|Credit_History_Age|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+-------------+------------------+
| CUS_0x1037|    15989.085|            1086.4237|                5|              4|          2.0|          4|Credit-Builder Lo...|                 13|                    15|                 0.5|                   3|      Good|          665.82|                 40.6977|                   No|           33.79702|               80.46524|Low_spent_Small_v...|      284.38013|   2023-01-01|             237.0|
| CUS_0x1069|     58637.34|             4799.445|                4|              6|         10.0|        119|Personal Loan, Au...|                  9|                    17|               12.56|                   5|  Standard|           208.8|               25.233143|                  Yes|          139.88501|              165.21062|High_spent_Small_...|      434.84888|   2023-01-01|             368.0|
| CUS_0x114a|     15305.46|             1230.455|                0|              7|          2.0|          2|Student Loan, and...|                 14|                     2|               15.95|                   0|      Good|             0.0|               27.525112|                   No|          20.301655|               64.77848|Low_spent_Small_v...|      327.96536|   2023-01-01|             189.0|
| CUS_0x1184|    19867.475|            1396.6229|                3|              5|         11.0|          3|Student Loan, Mor...|                 10|                     9|                6.74|                   4|      Good|          707.29|                26.68979|                   No|           42.60688|              23.460943|              !@9#%8|      313.59445|   2023-01-01|             392.0|
| CUS_0x1297|          0.0|             4881.505|                9|              8|         30.0|          9|Payday Loan, Pers...|                 61|                    24|               14.27|                  11|       Bad|         3916.47|               25.742142|                  Yes|          296.28415|               53.82118|High_spent_Medium...|       388.0452|   2023-01-01|             164.0|
| CUS_0x12fb|     26342.91|            1949.2426|                6|              7|          7.0|          1| Credit-Builder Loan|                 23|                    14|                17.6|                   3|  Standard|           397.9|                33.21174|                  Yes|            57567.0|               48.05731|High_spent_Large_...|      365.28372|   2023-01-01|             264.0|
| CUS_0x1325|     35823.96|              2937.33|                6|              0|         22.0|          5|Not Specified, Pe...|                 39|                    17|                7.35|                   8|       Bad|         3029.92|               31.567171|                  Yes|          112.43578|              148.51607|High_spent_Small_...|      292.78116|   2023-01-01|             117.0|
| CUS_0x1341|    15341.895|            1035.4912|                6|              7|          3.0|          1|Debt Consolidatio...|                 20|                     8|                7.71|                   2|         _|         1152.71|               24.134405|                   NM|           6.981993|               81.56431|Low_spent_Medium_...|      295.00284|   2023-01-01|             256.0|
| CUS_0x1375|      72524.2|             5908.683|                6|              5|         17.0|          3|Mortgage Loan, De...|                 46|                    23|                8.74|                   9|       Bad|          2699.4|               23.070389|                  Yes|          153.03346|              606.45654|Low_spent_Medium_...|      111.37835|   2023-01-01|             184.0|
| CUS_0x13a8|      97059.0|              8295.25|                3|              2|          9.0|          0|             Unknown|                  9|                    10|                9.94|                   5|      Good|          192.99|                39.93997|                   No|                0.0|               210.6194|High_spent_Large_...|       858.9056|   2023-01-01|             401.0|
| CUS_0x13ef|     18666.56|            1323.5466|                3|              4|         11.0|          4|Student Loan, Stu...|                  3|                     5|                8.67|                   2|         _|          770.81|               35.323933|                   No|          58.886044|             106.088745|Low_spent_Small_v...|      257.37988|   2023-01-01|             387.0|
| CUS_0x1440|          0.0|            368.37418|                8|              5|         33.0|          7|Personal Loan, De...|                 59|                    17|               25.55|                   6|       Bad|         4108.42|               35.147266|                  Yes|          38.107872|              19.930899|Low_spent_Large_v...|      248.79865|   2023-01-01|             153.0|
| CUS_0x1443|          0.0|            7377.3433|                5|              6|         15.0|          4|Student Loan, Per...|                  6|                    14|                7.48|                   2|  Standard|          534.85|               26.828953|                   No|          164.97878|               99.24595|High_spent_Large_...|       713.5096|   2023-01-01|             404.0|
| CUS_0x145a|     41587.37|            3704.6143|                5|              4|          3.0|          2|Not Specified, an...|                  5|                     7|                2.27|                   4|      Good|         1353.86|               26.198925|                   No|           68.53992|               45.79846|High_spent_Medium...|      506.12305|   2023-01-01|             198.0|
| CUS_0x1492|     9134.415|            1051.2013|                5|             10|         15.0|          3|Payday Loan, Mort...|                 18|                  4106|               13.19|                   6|  Standard|         1621.28|               33.778793|                  Yes|          15.953677|               92.90908|Low_spent_Small_v...|      286.25735|   2023-01-01|             194.0|
| CUS_0x153d|          0.0|            992.53375|                7|              5|         30.0|          6|Payday Loan, Not ...|                 31|                    23|               24.73|                   9|       Bad|         4171.09|               29.328463|                  Yes|          27.175783|               35.10348|Low_spent_Small_v...|      326.97412|   2023-01-01|              21.0|
| CUS_0x1567|     19363.33|            1904.6108|                8|              6|       5059.0|          0|Credit-Builder Lo...|                  7|                    17|               18.31|                  10|  Standard|          111.66|               24.394829|                   NM|          30.693932|              49.634678|High_spent_Medium...|      360.13248|   2023-01-01|             174.0|
| CUS_0x15ad|     82316.18|            6625.6816|                0|              5|          4.0|          3|Not Specified, De...|                 23|                    12|                11.0|                   2|      Good|           42.98|               31.788692|                   No|          133.89375|              161.20766|High_spent_Large_...|      607.46674|   2023-01-01|             220.0|
| CUS_0x1630|  1.7706148E7|            6943.1333|                4|              6|         10.0|          6|Not Specified, St...|                  9|                    10|               16.55|                   5|  Standard|          377.05|               32.086624|                  Yes|          340.28772|              396.24817|Low_spent_Medium_...|      237.77744|   2023-01-01|             134.0|
| CUS_0x169c|    11646.925|             1135.577|                7|              4|          7.0|          0|             Unknown|                 26|                     9|                4.54|                   6|      Good|          782.26|               24.488121|                   No|                0.0|               72.28519|Low_spent_Large_v...|      311.27252|   2023-01-01|             395.0|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+-------------+------------------+
only showing top 20 rows

## Test gold feature builder

In [38]:
import sys
from pyspark.sql import SparkSession, functions as F
from pathlib import Path

sys.path.append("/app/utils")
from gold_features_processing_optimized import _load_table, make_training_apps, build_features

# ---------------------------------------------------------------
# 1. Spark Setup
# ---------------------------------------------------------------
spark = (
    SparkSession.builder
    .appName("test_gold_builder")
    .master("local[*]")
    .getOrCreate()
)
spark.sparkContext.setLogLevel("ERROR")

silver_dir = "/app/datamart/silver"

print("\n=== ðŸ” Checking Silver Layer Tables ===")
for tbl in ["lms_loan_daily", "features_financials", "features_attributes", "feature_clickstream"]:
    df = _load_table(spark, silver_dir, tbl)
    if df:
        print(f"âœ… {tbl}: {df.count():,} rows, {len(df.columns)} cols")
        df.show(3, truncate=False)
    else:
        print(f"âš ï¸  {tbl}: Not found or empty")

# ---------------------------------------------------------------
# 2. Prepare mock training applications
# ---------------------------------------------------------------
lms_df = _load_table(spark, silver_dir, "lms_loan_daily")
asof_date = "2024-12-31"

if lms_df:
    apps_train = make_training_apps(lms_df, asof_date)
    print(f"\n=== ðŸ§© Training applications prepared ===")
    apps_train.show(5, truncate=False)

    # ---------------------------------------------------------------
    # 3. Build features from Silver layer
    # ---------------------------------------------------------------
    gold_df = build_features(apps_train, silver_dir, asof_date, spark)

    print("\n=== âœ¨ Gold Feature Summary ===")
    print(f"Total rows: {gold_df.count():,}")
    print(f"Total columns: {len(gold_df.columns)}")

    # Show sample columns and stats
    gold_df.select(
        "Customer_ID", "application_date", "Annual_Income",
        "Outstanding_Debt", "DTI", "estimated_EMI", "EMI_to_income"
    ).show(5, truncate=False)
else:
    print("âš ï¸  Skipping feature build â€” missing lms_loan_daily")

# ---------------------------------------------------------------
# 4. Cleanup
# ---------------------------------------------------------------
spark.stop()

=== ðŸ” Checking Silver Layer Tables ===

2025-11-09 06:50:20,167 INFO lms_loan_daily: loaded successfully from /app/datamart/silver/lms_loan_daily

âœ… lms_loan_daily: 137,500 rows, 14 cols
+---------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+---+----+-----+
|loan_id              |Customer_ID|loan_start_date|tenure|installment_num|loan_amt|due_amt|paid_amt|overdue_amt|balance|snapshot_date|mob|year|month|
+---------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+---+----+-----+
|CUS_0x8e4e_2024_02_01|CUS_0x8e4e |2024-02-01     |10    |3              |10000   |1000.0 |1000.0  |0.0        |7000.0 |2024-05-01   |3  |2024|5    |
|CUS_0x8e5_2024_05_01 |CUS_0x8e5  |2024-05-01     |10    |0              |10000   |0.0    |0.0     |0.0        |10000.0|2024-05-01   |0  |2024|5    |
|CUS_0x8e53_2023_09_01|CUS_0x8e53 |2023-09-01     |10    |8              |10000   |1000.0 |0.0     |4000.0     |6000.0 |2024-05-01   |8  |2024|5    |
+---------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+---+----+-----+
only showing top 3 rows

2025-11-09 06:50:23,745 INFO features_financials: loaded successfully from /app/datamart/silver/features_financials

âœ… features_financials: 12,500 rows, 27 cols
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+---------------------+-------------------+-----------------------+--------------------------------+------------------+-------------+-----------------------+------------------------+-------------------+----+-----+
|Customer_ID|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan                                                                                                                               |Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age   |Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour               |Monthly_Balance   |snapshot_date|Credit_History_Age_Year|Credit_History_Age_Month|DTI                |year|month|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+---------------------+-------------------+-----------------------+--------------------------------+------------------+-------------+-----------------------+------------------------+-------------------+----+-----+
|CUS_0x10ac |16718.645    |1270.2204166666668   |7                |3              |15           |4.0        |Credit-Builder Loan, Credit-Builder Loan, Home Equity Loan, and Debt Consolidation Loan                                                    |26                 |11.0                  |18.45               |1.0                 |_         |853.41          |31.39733884144666       |16 Years and 3 Months|NULL                 |50.9619359000891   |36.41309208442618      |Unknown                         |319.6470136821514 |2024-08-01   |0.0                    |0                       |0.05104540469637342|2024|8    |
|CUS_0x10c5 |158623.16    |13180.596666666665   |2                |7              |10           |1.0        |Payday Loan                                                                                                                                |10                 |5.0                   |6.04                |0.0                 |Good      |1134.83         |41.7968001237713        |30 Years and 2 Months|NULL                 |91.03390497961712  |282.71868909757717     |High_spent_Medium_value_payments|1194.3070725894725|2024-08-01   |0.0                    |0                       |0.00715425162378558|2024|8    |
|CUS_0x1145 |17975.32     |1444.9433333333334   |6                |5              |32           |9.0        |Student Loan, Payday Loan, Not Specified, Mortgage Loan, Home Equity Loan, Payday Loan, Payday Loan, Not Specified, and Credit-Builder Loan|61                 |25.0                  |8.9                 |13.0                |Bad       |1263.1          |25.681798029462104      |12 Years and 5 Months|NULL                 |76.450324587172    |176.77621007546128     |Low_spent_Small_value_payments  |181.26779867070005|2024-08-01   |0.0                    |0                       |0.07026856823689369|2024|8    |
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+---------------------+-------------------+-----------------------+--------------------------------+------------------+-------------+-----------------------+------------------------+-------------------+----+-----+
only showing top 3 rows

2025-11-09 06:50:27,096 INFO features_attributes: loaded successfully from /app/datamart/silver/features_attributes

âœ… features_attributes: 12,500 rows, 6 cols
+-----------+----+----------+-------------+----+-----+
|Customer_ID|Age |Occupation|snapshot_date|year|month|
+-----------+----+----------+-------------+----+-----+
|CUS_0x10ac |29.0|NULL      |2024-08-01   |2024|8    |
|CUS_0x10c5 |24.0|NULL      |2024-08-01   |2024|8    |
|CUS_0x1145 |24.0|NULL      |2024-08-01   |2024|8    |
+-----------+----+----------+-------------+----+-----+
only showing top 3 rows

2025-11-09 06:50:29,742 INFO feature_clickstream: loaded successfully from /app/datamart/silver/feature_clickstream

âœ… feature_clickstream: 215,376 rows, 24 cols
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+----+-----+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|year|month|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+----+-----+
|161 |165 |100 |146 |211 |37  |119 |131 |170 |202  |104  |281  |63   |79   |70   |101  |210  |-90  |28   |172  |CUS_0x1037 |2024-09-01   |2024|9    |
|129 |-53 |95  |72  |177 |127 |185 |205 |84  |134  |127  |304  |26   |128  |129  |236  |164  |39   |234  |358  |CUS_0x1069 |2024-09-01   |2024|9    |
|46  |121 |148 |61  |109 |127 |23  |41  |3   |68   |99   |177  |54   |-95  |166  |137  |332  |29   |27   |50   |CUS_0x114a |2024-09-01   |2024|9    |
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+----+-----+
only showing top 3 rows

2025-11-09 06:50:33,750 INFO lms_loan_daily: loaded successfully from /app/datamart/silver/lms_loan_daily

=== ðŸ§© Training applications prepared ===

+---------------------+-----------+----------------+--------+------+
|loan_id              |Customer_ID|application_date|loan_amt|tenure|
+---------------------+-----------+----------------+--------+------+
|CUS_0x1000_2023_05_01|CUS_0x1000 |2023-05-01      |10000   |10    |
|CUS_0x100b_2024_03_01|CUS_0x100b |2024-03-01      |10000   |10    |
|CUS_0x1011_2023_11_01|CUS_0x1011 |2023-11-01      |10000   |10    |
|CUS_0x1013_2023_12_01|CUS_0x1013 |2023-12-01      |10000   |10    |
|CUS_0x1015_2023_08_01|CUS_0x1015 |2023-08-01      |10000   |10    |
+---------------------+-----------+----------------+--------+------+
only showing top 5 rows

2025-11-09 06:50:38,172 INFO features_financials: loaded successfully from /app/datamart/silver/features_financials
2025-11-09 06:50:39,708 INFO features_attributes: loaded successfully from /app/datamart/silver/features_attributes
2025-11-09 06:50:41,169 INFO feature_clickstream: loaded successfully from /app/datamart/silver/feature_clickstream

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Num_of_Delayed_Payment` cannot be resolved. Did you mean one of the following? [`Num_of_Loan`, `Type_of_Loan`, `Annual_Income`, `Customer_ID`, `Outstanding_Debt`].;
'Aggregate [Customer_ID#2505], [Customer_ID#2505, sum('Num_of_Delayed_Payment) AS Num_of_Delayed_Payment_3m#3320]
+- Filter ((datediff(application_date#2464, snapshot_date#2526) >= 0) AND (datediff(application_date#2464, snapshot_date#2526) <= 90))
   +- Filter (snapshot_date#2526 <= application_date#2464)
      +- Project [Customer_ID#2505, Annual_Income#2506, Outstanding_Debt#2518, Payment_Behaviour#2524, Credit_Mix#2517, Type_of_Loan#2512, Credit_History_Age#2520, Num_of_Loan#2511, snapshot_date#2526, application_date#2464]
         +- Join Inner, (Customer_ID#2505 = Customer_ID#2405)
            :- Project [Customer_ID#2505, Annual_Income#2506, Outstanding_Debt#2518, Payment_Behaviour#2524, Credit_Mix#2517, Type_of_Loan#2512, Credit_History_Age#2520, Num_of_Loan#2511, snapshot_date#2526]
            :  +- Relation [Customer_ID#2505,Annual_Income#2506,Monthly_Inhand_Salary#2507,Num_Bank_Accounts#2508,Num_Credit_Card#2509,Interest_Rate#2510,Num_of_Loan#2511,Type_of_Loan#2512,Delay_from_due_date#2513,Num_of_Delayed_Payment#2514,Changed_Credit_Limit#2515,Num_Credit_Inquiries#2516,Credit_Mix#2517,Outstanding_Debt#2518,Credit_Utilization_Ratio#2519,Credit_History_Age#2520,Payment_of_Min_Amount#2521,Total_EMI_per_month#2522,Amount_invested_monthly#2523,Payment_Behaviour#2524,Monthly_Balance#2525,snapshot_date#2526,Credit_History_Age_Year#2527,Credit_History_Age_Month#2528,... 3 more fields] parquet
            +- Project [Customer_ID#2405, application_date#2464]
               +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Num_of_Loan_active#3203, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, Type_of_Loan_Credit_Builder_Loan#2933, ... 8 more fields]
                  +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277 AS Num_of_Loan_active#3203, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 9 more fields]
                     +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 9 more fields]
                        +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 8 more fields]
                           +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 7 more fields]
                              +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 6 more fields]
                                 +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 5 more fields]
                                    +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 4 more fields]
                                       +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 3 more fields]
                                          +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, ... 2 more fields]
                                             +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, Type_of_Loan_Auto_Loan#2908, CASE WHEN Contains(Type_of_Loan#3278, Credit-Builder Loan) THEN 1 ELSE 0 END AS Type_of_Loan_Credit_Builder_Loan#2933]
                                                +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, Credit_Mix_Bad#2884, CASE WHEN Contains(Type_of_Loan#3278, Auto Loan) THEN 1 ELSE 0 END AS Type_of_Loan_Auto_Loan#2908]
                                                   +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, Credit_Mix_Good#2861, CASE WHEN (Credit_Mix#3283 = Bad) THEN 1 ELSE 0 END AS Credit_Mix_Bad#2884]
                                                      +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, Credit_Mix_Standard#2839, CASE WHEN (Credit_Mix#3283 = Good) THEN 1 ELSE 0 END AS Credit_Mix_Good#2861]
                                                         +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, Payment_Behaviour_High_spent_Large_value_payments#2818, CASE WHEN (Credit_Mix#3283 = Standard) THEN 1 ELSE 0 END AS Credit_Mix_Standard#2839]
                                                            +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, Payment_Behaviour_High_spent_Medium_value_payments#2798, CASE WHEN (Payment_Behaviour#3290 = High_spent_Large_value_payments) THEN 1 ELSE 0 END AS Payment_Behaviour_High_spent_Large_value_payments#2818]
                                                               +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, Payment_Behaviour_Low_spent_Small_value_payments#2779, CASE WHEN (Payment_Behaviour#3290 = High_spent_Medium_value_payments) THEN 1 ELSE 0 END AS Payment_Behaviour_High_spent_Medium_value_payments#2798]
                                                                  +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, Payment_Behaviour_Low_spent_Medium_value_payments#2761, CASE WHEN (Payment_Behaviour#3290 = Low_spent_Small_value_payments) THEN 1 ELSE 0 END AS Payment_Behaviour_Low_spent_Small_value_payments#2779]
                                                                     +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, Payment_Behaviour_Low_spent_Large_value_payments#2744, CASE WHEN (Payment_Behaviour#3290 = Low_spent_Medium_value_payments) THEN 1 ELSE 0 END AS Payment_Behaviour_Low_spent_Medium_value_payments#2761]
                                                                        +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, Payment_Behaviour_High_spent_Small_value_payments#2728, CASE WHEN (Payment_Behaviour#3290 = Low_spent_Large_value_payments) THEN 1 ELSE 0 END AS Payment_Behaviour_Low_spent_Large_value_payments#2744]
                                                                           +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, log_Annual_Income#2713, CASE WHEN (Payment_Behaviour#3290 = High_spent_Small_value_payments) THEN 1 ELSE 0 END AS Payment_Behaviour_High_spent_Small_value_payments#2728]
                                                                              +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, DTI#2699, CASE WHEN (Annual_Income#3272 > cast(0 as double)) THEN ln(Annual_Income#3272) END AS log_Annual_Income#2713]
                                                                                 +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277, CASE WHEN (Annual_Income#3272 > cast(0 as double)) THEN (Outstanding_Debt#3284 / Annual_Income#3272) END AS DTI#2699]
                                                                                    +- Project [Customer_ID#2405, loan_id#2404, application_date#2464, loan_amt#2409, tenure#2407, Annual_Income#3272, Outstanding_Debt#3284, Payment_Behaviour#3290, Credit_Mix#3283, Type_of_Loan#3278, Credit_History_Age#3286, Num_of_Loan#3277]
                                                                                       +- Join LeftOuter, (Customer_ID#2405 = Customer_ID#3271)
                                                                                          :- Deduplicate [Customer_ID#2405, tenure#2407, application_date#2464, loan_amt#2409, loan_id#2404]
                                                                                          :  +- Project [loan_id#2404, Customer_ID#2405, application_date#2464, loan_amt#2409, tenure#2407]
                                                                                          :     +- Filter (application_date#2464 <= cast(2024-12-31 as date))
                                                                                          :        +- Project [loan_id#2404, Customer_ID#2405, loan_start_date#2406 AS application_date#2464, tenure#2407, installment_num#2408, loan_amt#2409, due_amt#2410, paid_amt#2411, overdue_amt#2412, balance#2413, snapshot_date#2414, mob#2415, year#2416, month#2417]
                                                                                          :           +- Project [loan_id#2404, Customer_ID#2405, loan_start_date#2406, tenure#2407, installment_num#2408, loan_amt#2409, due_amt#2410, paid_amt#2411, overdue_amt#2412, balance#2413, snapshot_date#2414, mob#2415, year#2416, month#2417]
                                                                                          :              +- Filter (rn#2433 = 1)

In [40]:
spark.stop()

In [30]:
# Cleanup
spark.stop()
print("\nâœ“ Spark session stopped")
print("\n" + "="*80)

âœ“ Spark session stopped

================================================================================